#intro {
  margin: 0 auto;
  text-align: right;
}

svg {
  font: 10px sans-serif;
}

.bar {
  fill: gray;
}

.axis test {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.dropdown {
	position: absolute;
	right: 50px;
	top: 160px;
	max-width: 200px;
	font-size: 10px;
	text-align: left;
}

h3 {

}